<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365012797790-ru05mblspi72s170c1nk2fvte494rjd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365012797790-ru05mblspi72s170c1nk2fvte494rjd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBT3k-o0axPQswOT4IaE7CtuV7AzvMSocg</string>
	<key>GCM_SENDER_ID</key>
	<string>365012797790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedroruben.ligaportugal</string>
	<key>PROJECT_ID</key>
	<string>ligaportugal-16dad</string>
	<key>STORAGE_BUCKET</key>
	<string>ligaportugal-16dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365012797790:ios:7ef0a98fef4e48ada667cf</string>
</dict>
</plist>